html {
  --content-maxwidth: 1250px;

  --primary-color: #c47f17;
  --primary-dark-color: #806e33;
  --primary-light-color: #e9b970;

  --page-background-color: #ffffff;
  --page-foreground-color: #534c2f;
  --page-secondary-foreground-color: #8e8e6f;

  --fragment-background: #F8F9FA;
  --fragment-foreground: #4f4937;
}

html.dark-mode {
  --primary-color: #d27c19;
  --primary-dark-color: #e2b35c;
  --primary-light-color: #ac9147;

  --page-background-color: #1f1e1c;
  --page-foreground-color: #dedcd2;
  --page-secondary-foreground-color: #999685;

  --fragment-background: #342f28;
  --fragment-foreground: #ebe9db;
}

html.dark-mode .paramname em {
  color: #e84040;
}
